@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0c1c;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  .min-h-screen {
    min-height: 100vh;
    min-height: 100dvh;
  }
}
